<p>ANGULAR Application - CRUD Operation</p>
<hr>
<input type="button" name="postBtn" style="height:25px;width:200px"
(click)="PostData()" value="Execute Http Post Call" />
<br>
{{ retPostData }}
<hr>
<input type="button" name="getBtn" style="height:25px;width:200px"
(click)="GetData()" value="Execute Http Get Call" />
<br>
{{ retGetData }}
<br>
<hr>
<input type="button" name="putBtn" style="height:25px;width:200px"
(click)="PutData()" value="Execute Http Put Call" />
<br>
<hr>
<input type="button" name="deleteBtn" style="height:25px;width:200px"
(click)="DeleteData()" value="Execute Http Delete Call" />



